Repository alexnoddings/Tyne, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, demo, source, tests, area-AspNetCore, area-Blazor, area-Core, area-EntityFramework, area-HttpMediator, area-MediatorEndpoints, area-Testing

.github/labeler.yml:

build:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'eng/**'
      - 'global.json'
      - 'Tyne.sln'
    - all-globs-to-all-files: '!eng/Version.props'

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

demo:
- changed-files:
  - any-glob-to-any-file:
    - example/**

source:
- changed-files:
  - any-glob-to-any-file:
    - src/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

'area-AspNetCore':
- changed-files:
  - any-glob-to-any-file:
    - src/AspNetCore/**
    - test/AspNetCore/**

'area-Blazor':
- changed-files:
  - any-glob-to-any-file:
    - src/Blazor/**
    - test/Blazor/**

'area-Core':
- changed-files:
  - any-glob-to-any-file:
    - src/Core/**
    - test/Core/**

'area-EntityFramework':
- changed-files:
  - any-glob-to-any-file:
    - src/EntityFramework*/**
    - test/EntityFramework*/**

'area-HttpMediator':
- changed-files:
  - any-glob-to-any-file:
    - src/HttpMediator*/**
    - test/HttpMediator*/**

'area-MediatorEndpoints':
- changed-files:
  - any-glob-to-any-file:
    - src/MediatorEndpoints*/**
    - test/MediatorEndpoints*/**

'area-Testing':
- changed-files:
  - any-glob-to-any-file:
    - src/Testing*/**
    - test/Testing*/**

Better switch handling
  example/Client/Features/Systems/Filtering/SelectUpdateValues/OrbitalTypeSelectValue.cs
Labels: demo

Fix xml doc
  test/EventIdTests/AssertLoggerMessages.cs
Labels: tests

Suppress IDE0072
  example/Client/Features/Theme/ThemePage.razor.cs
Labels: demo

Fix constant naming
  example/Client/Infrastructure/SourceRef/SourceLookup.cs
Labels: demo

Editorconfig improvements
  .editorconfig
Labels: none

Temporarily suppress new SDK analysers #127
  eng/Build.props
Labels: none

List .NET SDKs used during builds
  .github/workflows/build-and-test-main.yml
  .github/workflows/build-and-test-pr.yml
  .github/workflows/publish-all.yml
  .github/workflows/publish-docs.yml
Labels: none

Better warning/error documentation
  eng/Build.props
  eng/Build.targets
Labels: none

Temporarily disable IDE0055 #138
  eng/Build.props
Labels: none

Disable NU5104 warning
  eng/Build.targets
Labels: none

TFM tweaks
  docs/.docs.csproj
  eng/Build.props
  eng/Packages.props
  eng/Tests.props
Labels: docs

Prep v3.4.0
  docs/docs/changes/toc.yml
  docs/docs/changes/v3.4.0.md
  eng/Version.props
Labels: docs

Add `unit` prelude #141
  docs/docs/packages/Core.md
  src/Core/Preludes/UnitPrelude.cs
  src/Core/Unit.cs
Labels: docs, source, area-Core

Log HttpMediator fluent validation errors #139
  docs/docs/dev/event-ids.md
  src/HttpMediator.Client.FluentValidation/FluentValidationMiddleware.cs
  src/HttpMediator.Client.FluentValidation/FluentValidationMiddlewareLogging.cs
  test/EventIdTests/EventIdsInRangeTests.cs
  test/HttpMediator.Client.UnitTests/Middleware/Implementations/FluentValidationMiddlewareTests.cs
Labels: docs, source, tests, area-HttpMediator

Log HTTP Mediator request type scope
  src/HttpMediator.Client/Mediator/HttpMediator.cs
  src/HttpMediator.Client/Mediator/HttpMediatorLogging.cs
Labels: source, area-HttpMediator

Add option to disable root form validation #119
  src/Blazor/Components/Forms/Validation/TyneFormFluentValidator.cs
Labels: source, area-Blazor

Better MediatorEndpoints client exception message #140
  src/MediatorEndpoints.Client/MediatorProxy.cs
Labels: source, area-MediatorEndpoints

Add an inner exception (with the error message) when unwrapping error results
  src/Core/Result/ResultExtensions.cs
  test/Core.Tests/Result/ResultUnwrapExtensionTests.cs
  test/MediatorEndpoints.IntegrationTests/MediatorProxySendTests.cs
Labels: source, tests, area-Core, area-MediatorEndpoints

Fix CA1515 #129
  eng/Build.props
  eng/Tests.props
Labels: none

Remove unnecessary using directives #130
  eng/Build.props
  example/Client/Infrastructure/CommonComponents/RelativeDateTime.razor
  example/Client/Infrastructure/CommonComponents/RelativeDateTime.razor.cs
  example/SourceRef.SourceGenerators/Components/ComponentSourceInfoGenerator.cs
  src/Blazor/Components/Filtering/Values/Search/TyneSearchFilterValueBase.cs
  test/AspNetCore.IntegrationTests/Endpoints/NotFoundEndpointTests.cs
  test/HttpMediator.TestUtilities/AssertHttpResult.cs
  test/HttpMediator.TestUtilities/Http/TestHttpRequestBase.cs
  test/MediatorEndpoints.IntegrationTests/ITestScope.cs
Labels: demo, source, tests, area-Blazor, area-HttpMediator, area-MediatorEndpoints

Use pattern matching #133
  eng/Build.props
  src/Blazor/Persistence/UrlUtilities.cs
Labels: source, area-Blazor

Use collection expressions #137
  eng/Build.props
  test/Core.Tests/Utilities/MethodHelperTests.cs
Labels: tests

Remove unnecessary lambda expressions #136
  eng/Build.props
  test/Core.Tests/Error/ErrorOtherTests.cs
Labels: tests

Use expression body for methods #131
  eng/Build.props
  example/Client/ExampleProgram.cs
  example/Client/Features/Dashboard/ConstellationCard.razor.cs
  example/Client/Features/Dashboard/NextLaunchCard.razor.cs
  example/Client/Features/Systems/Filtering/SimpleFilterContext.cs
  example/Client/Infrastructure/CommonComponents/TyneBreadcrumbs.razor.cs
  src/Blazor/Components/DateTimeLocalisation/JsUserTimeZoneService.cs
  src/Blazor/Persistence/UrlPersistenceService.cs
  test/Core.Tests/Error/ErrorEqualityTests.cs
  test/Core.Tests/Utilities/MethodHelperTests.cs
  test/HttpMediator.Core.UnitTests/HttpResult/HttpResultCreationTests.cs
Labels: demo, source, tests, area-Blazor, area-HttpMediator

Remove unnecessary suppression
  example/Client/Features/Dashboard/ConstellationCard.razor.cs
Labels: demo

Remove unnecessary discards #135
  eng/Build.props
  test/Core.Tests/Error/ErrorOtherTests.cs
  test/Core.Tests/Option/OptionOtherTests.cs
  test/Core.Tests/Result/ResultOtherTests.cs
  test/HttpMediator.Core.UnitTests/HttpResult/HttpResultOtherTests.cs
Labels: tests, area-HttpMediator

Simplify 'new' expression #134
  eng/Build.props
  test/AspNetCore.IntegrationTests/Endpoints/NotFoundEndpointTests.cs
Labels: tests

Simplify if statements #132
  eng/Build.props
  src/Blazor/Components/Filtering/Controllers/Select/Multi/TyneMultiSelectFilterControllerBase.cs
  src/Blazor/Components/Forms/TyneFormBase.cs
  src/Blazor/Persistence/UrlUtilities.cs
Labels: source, area-Blazor

Better change auditing entity type name #142
  Tyne.sln
  eng/Packages.props
  src/EntityFramework.ChangeAuditing/Auditor/DbContextChangeAuditorTypeNameFormatter.cs
  src/EntityFramework.ChangeAuditing/Auditor/DbContextChangeAuditor`3.cs
  test/EntityFramework.ChangeAuditing.UnitTests/DbContextChangeAuditorTypeNameFormatterTests.cs
  test/EntityFramework.ChangeAuditing.UnitTests/EntityFramework.ChangeAuditing.UnitTests.csproj
  test/EntityFramework.ChangeAuditing.UnitTests/TestTypes.cs
Labels: source, tests, area-EntityFramework

Add v3.4.0 docs
  docs/docs/changes/v3.4.0.md
Labels: docs

Upgrade example projects to .NET 8 #143
  example/Client/Example.Client.csproj
  example/Host.Wasm/Example.Host.Wasm.csproj
Labels: demo

Drop support for EoL .NET 7 #128
  eng/Build.props
  eng/Build.targets
Labels: none

Begin v3.5
  docs/docs/changes/v3.5.0.md
  eng/Version.props
Labels: docs

MudBlazor V7 upgrade #148
  docs/docs/changes/v3.5.0.md
  eng/Build.targets
  src/Blazor/Components/Button/TyneButton.razor.cs
  src/Blazor/Components/Filtering/Controllers/Range/TyneMinMaxFilterController.cs
  src/Blazor/Components/Filtering/Controllers/Search/TyneSearchFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/Select/Multi/TyneMultiSelectBoxFilterController.razor
  src/Blazor/Components/Filtering/Controllers/Select/Multi/TyneMultiSelectCheckboxFilterController.razor
  src/Blazor/Components/Filtering/Controllers/Select/Multi/TyneMultiSelectFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/Select/Single/TyneSingleSelectFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/Select/Single/TyneSingleSelectRadioFilterController.razor
  src/Blazor/Components/Filtering/Values/Search/IFilterSearchValue.cs
  src/Blazor/Components/Filtering/Values/Search/TyneSearchFilterValueBase.cs
  src/Blazor/Components/Forms/Drawer/TyneFormDrawerContent.razor
  src/Blazor/Components/Forms/Drawer/TyneFormDrawerContent.razor.cs
  src/Blazor/Components/Table/Columns/TyneColumnPopoverHeaderBase.razor
  src/Blazor/Components/Table/TyneTableBase.razor
  src/Blazor/Components/Table/TyneTableBase.razor.cs
  src/Blazor/TyneHotReloadWatcher.cs
Labels: docs, source, area-Blazor

Fix some `ref` methods to use `in` #149
  src/Core/Option/OptionExtensions.cs
Labels: source, area-Core

Misc improvements
  src/Blazor/Components/Filtering/Context/TyneFilterContext.cs
  src/Blazor/Components/Filtering/Controllers/Select/Multi/TyneMultiSelectCheckboxFilterController.razor
  src/Blazor/Components/Table/Columns/TyneColumnHeader.razor
  src/Blazor/Components/Table/Columns/TyneColumnHeader.razor.cs
  src/Blazor/Components/Table/Columns/TyneColumnPopoverHeaderBase.razor.cs
Labels: source, area-Blazor

Column header improvements #150
  src/Blazor/Components/Table/Columns/MultiSelect/TyneMultiSelectBoxColumnHeader.razor
  src/Blazor/Components/Table/Columns/MultiSelect/TyneMultiSelectCheckboxColumnHeader.razor
  src/Blazor/Components/Table/Columns/SingleSelect/TyneSingleSelectBoxColumnHeader.razor
  src/Blazor/Components/Table/Columns/SingleSelect/TyneSingleSelectRadioColumnHeader.razor
  src/Blazor/Components/Table/Columns/TyneColumnPopoverHeaderBase.razor
  src/Blazor/Components/Table/Columns/TyneColumnPopoverHeaderBase.razor.cs
  src/Blazor/Components/Table/Columns/TyneDateRangeColumnHeader.razor
  src/Blazor/Components/Table/Columns/TyneStringColumnHeader.razor
Labels: source, area-Blazor

Rename Table `ValueFilters` to `FilterValues` #151
  src/Blazor/Components/Table/TyneTableBase.razor
  src/Blazor/Components/Table/TyneTableBase.razor.cs
Labels: source, area-Blazor

Move to `rc.1` release before mainline `v3.5.0`
  eng/Version.props
Labels: none

Fix IFilterController state change errors #153
  src/Blazor/Components/Filtering/Controllers/Range/TyneMinMaxFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/TyneFilterControllerBase.cs
Labels: source, area-Blazor
