Repository alexnoddings/Tyne, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, demo, source, tests, area-AspNetCore, area-Blazor, area-Core, area-EntityFramework, area-HttpMediator, area-MediatorEndpoints, area-Testing

.github/labeler.yml:

build:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'eng/**'
      - 'global.json'
      - 'Tyne.sln'
    - all-globs-to-all-files: '!eng/Version.props'

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

demo:
- changed-files:
  - any-glob-to-any-file:
    - example/**

source:
- changed-files:
  - any-glob-to-any-file:
    - src/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

'area-AspNetCore':
- changed-files:
  - any-glob-to-any-file:
    - src/AspNetCore/**
    - test/AspNetCore/**

'area-Blazor':
- changed-files:
  - any-glob-to-any-file:
    - src/Blazor/**
    - test/Blazor/**

'area-Core':
- changed-files:
  - any-glob-to-any-file:
    - src/Core/**
    - test/Core/**

'area-EntityFramework':
- changed-files:
  - any-glob-to-any-file:
    - src/EntityFramework*/**
    - test/EntityFramework*/**

'area-HttpMediator':
- changed-files:
  - any-glob-to-any-file:
    - src/HttpMediator*/**
    - test/HttpMediator*/**

'area-MediatorEndpoints':
- changed-files:
  - any-glob-to-any-file:
    - src/MediatorEndpoints*/**
    - test/MediatorEndpoints*/**

'area-Testing':
- changed-files:
  - any-glob-to-any-file:
    - src/Testing*/**
    - test/Testing*/**

Add rider to gitignore
  .gitignore
Labels: none

Flesh out v3.5.0 change doc
  docs/docs/changes/v3.5.0.md
Labels: docs

Bump license year
  LICENSE
Labels: none

Explicitly reference `System.Text.Json` dependency #156
  eng/Build.targets
  example/Client/Example.Client.csproj
  example/Host.Server/Example.Host.Server.csproj
  example/Host.Wasm/Example.Host.Wasm.csproj
  test/AspNetCore.IntegrationTests/AspNetCore.IntegrationTests.csproj
  test/Blazor.Tests/Blazor.Tests.csproj
  test/HttpMediator.IntegrationTests/HttpMediator.IntegrationTests.csproj
  test/MediatorEndpoints.IntegrationTests/MediatorEndpoints.IntegrationTests.csproj
Labels: demo, tests, area-HttpMediator, area-MediatorEndpoints

Upgrade .NET 9 packages to Preview 6
  eng/Build.targets
Labels: none

Ignore IDE0130
  eng/Build.props
Labels: none

More column header improvements #150
  src/Blazor/Components/Table/Columns/MultiSelect/TyneMultiSelectBoxColumnHeader.razor
  src/Blazor/Components/Table/Columns/SingleSelect/TyneSingleSelectBoxColumnHeader.razor
  src/Blazor/Components/Table/Columns/TyneStringColumnHeader.razor
Labels: source, area-Blazor

Safer disposed filter handle behaviour
  src/Blazor/Components/Filtering/Context/FilterControllerHandle`2.cs
  src/Blazor/Components/Filtering/Context/FilterValueHandle`2.cs
  src/Blazor/Components/Filtering/Controllers/Range/TyneMinMaxFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/TyneFilterControllerBase.cs
  src/Blazor/Components/Filtering/Values/Select/Items/TyneFilterSelectItem.cs
  src/Blazor/Components/Filtering/Values/TyneFilterValueCore.cs
Labels: source, area-Blazor

More consistent naming
  example/Client/Features/Systems/Tables/Intro/Simple/SimpleTableData.cs
  src/Blazor/Components/Filtering/Context/FilterControllerHandle`2.cs
  src/Blazor/Components/Filtering/Controllers/Custom/TyneCustomFilterController.razor.cs
  src/Blazor/Components/Filtering/Controllers/IFilterControllerHandle.cs
  src/Blazor/Components/Filtering/Controllers/Range/TyneMinMaxFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/Search/TyneSearchFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/Select/Multi/TyneMultiSelectFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/Select/Single/TyneSingleSelectFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/Select/TyneSelectFilterControllerBase.cs
  src/Blazor/Components/Filtering/Controllers/TyneFilterControllerBase.cs
Labels: demo, source, area-Blazor

Remove obsolete/deprecated APIs #152
  src/AspNetCore/Endpoints/NotFoundEndpointExtensions.cs
  src/Blazor/Components/Forms/Drawer/TyneFormDrawerContent.razor.cs
  src/Blazor/Components/Table/TyneTableBase.razor
  src/Blazor/Components/Table/TyneTableBase.razor.cs
Labels: source, area-AspNetCore, area-Blazor

v3.5.0 release prep
  docs/docs/changes/v3.5.0.md
  eng/Version.props
Labels: docs

Change charset from `utf-8-bom` to `utf-8`
  .editorconfig
Labels: none

Simulate API call delay when loading table data
  example/Client/Features/Systems/Tables/Intro/Simple/SimpleTableData.cs
Labels: demo

v3.6.0 prep
  eng/Version.props
Labels: none

Drop .NET 7.x support from build workflows
  .github/workflows/build-and-test-main.yml
  .github/workflows/build-and-test-pr.yml
  .github/workflows/publish-all.yml
  .github/workflows/publish-docs.yml
Labels: none

Add `dotnet format` to tools manifest #84
  .config/dotnet-tools.json
Labels: none

Add dotnet format checking to PRs #84
  .github/workflows/check-formatting.yml
Labels: none

dotnet format cleanup pass #84
  .github/workflows/build-and-test-main.yml
  .github/workflows/build-and-test-pr.yml
  .github/workflows/publish-all.yml
  .github/workflows/publish-docs.yml
  src/Blazor/Components/Table/Columns/TyneColumnPopoverHeaderBase.razor.cs
  src/EntityFramework.ChangeAuditing/Auditor/DbContextChangeAuditorTypeNameFormatter.cs
  src/HttpMediator.Server/Mapping/HttpRequestHandlerLogging.cs
  test/Core.Tests/Option/OptionOtherTests.cs
  test/Core.Tests/Utilities/MethodHelperTests.cs
Labels: source, tests, area-Blazor, area-EntityFramework, area-HttpMediator

Naming improvements
  example/Client/ExampleApp.razor
  example/Client/Features/Dashboard/NextLaunchCard.razor.cs
  example/Client/Features/Systems/Filtering/Controllers/Custom/Advanced/PartColourPickerController.razor
  example/Client/Features/Systems/Filtering/Controllers/Custom/Simple/SimpleCustomFilterControllerExampleContent.razor
  example/Client/Features/Systems/Filtering/Controllers/Range/Custom/Simple/SimpleCustomRangeFilterControllerExampleContent.razor
  example/Client/Features/Systems/Filtering/Values/Select/Single/Metadata/LaunchVehicle.cs
  example/Client/Features/Systems/Filtering/Values/Select/Single/Metadata/LaunchVehicleSelectController.razor
  example/Client/Infrastructure/SourceRef/SourceCode.razor.cs
  example/Client/Infrastructure/Theme/ThemeService.cs
  example/SourceRef.SourceGenerators/Components/ComponentSourceFormatter.cs
  example/SourceRef.SourceGenerators/Components/ComponentSourceInfoCollector.cs
  example/SourceRef.SourceGenerators/Types/TypeSourceFormatter.cs
  src/Blazor/Components/Filtering/Controllers/Custom/TyneCustomFilterController.razor.cs
  src/Blazor/Persistence/NavigationManagerHelper.cs
  src/Blazor/Persistence/UrlUtilities.cs
  src/Core/EmbeddedResourceManager.cs
  src/Core/ExceptionMessages.cs
  src/EntityFramework.ChangeAuditing/Auditor/DbContextChangeAuditorTypeNameFormatter.cs
  src/HttpMediator.Client/Mediator/HttpMediator.cs
  src/HttpMediator.Client/Middleware/Implementations/HttpSender/HttpSenderRequestMessageFactory.cs
  src/HttpMediator.Core/CoreExceptionMessages.cs
  src/HttpMediator.Core/HttpResults/HttpResult`1.cs
  src/HttpMediator.Server.MediatR/MediatRSenderMiddleware.cs
  src/HttpMediator.Server/ExceptionMessages.cs
  src/HttpMediator.Server/Mapping/AssemblyHttpRequestDescriptorScanner.cs
  src/HttpMediator.Server/Mapping/WebApplicationEndpointMappingExtensions.cs
  src/MediatorEndpoints.Server/LegacyMediatRSenderMiddleware.cs
Labels: demo, source, area-Blazor, area-Core, area-EntityFramework, area-HttpMediator, area-MediatorEndpoints

Tidy up
  example/SourceRef.SourceGenerators/Components/ComponentSourceInfoCollector.cs
  src/Blazor/Persistence/UrlUtilities.cs
Labels: demo, source, area-Blazor

Expanded editor config #84
  .editorconfig
Labels: none

Fix comment ref
  src/Core/Unit.cs
Labels: source, area-Core

Fix ordering
  src/Blazor/Components/Filtering/Values/TyneFilterValueCore.cs
  src/Core/Option/UnwrapOptionException.cs
  src/Core/Result/UnwrapResultErrorException.cs
  src/Core/Result/UnwrapResultValueException.cs
Labels: source, area-Blazor, area-Core

Disable diagnostic severity
  .editorconfig
Labels: none

Rename tests
  test/Core.Tests/Result/ResultJsonTests.cs
Labels: tests

Don't serialise `Error.Code` if it's default #162
  src/Core/Error/Error.cs
  src/Core/Error/ErrorJsonConverter.cs
  test/Core.Tests/Error/ErrorJsonTests.cs
Labels: source, tests, area-Core

Better tool restoration workflow
  .github/workflows/check-formatting.yml
Labels: none

Use new `CallerArgumentExpression` overload for `Debug.Assert`
  src/Blazor/Components/Filtering/Context/TyneFilterContext.cs
Labels: source, area-Blazor

Fix typo
  .github/workflows/check-formatting.yml
Labels: none

Scrap fancy dotnet format action, replace with manual
  .github/workflows/check-formatting.yml
Labels: none

Build solution before formatting
  .github/workflows/check-formatting.yml
Labels: none

Build/restore before formatting
  .github/workflows/check-formatting.yml
Labels: none

Fix formatted build config
  .github/workflows/check-formatting.yml
Labels: none

Format tweak
  example/Client/Features/Systems/Tables/Intro/Simple/SimpleTableData.cs
Labels: demo

Tweak gitattributes
  .gitattributes
Labels: none

Fix HTTP integration tests breaking on .NET 9
  test/HttpMediator.IntegrationTests.TestWebApp/TestWebAppHost.cs
Labels: tests, area-HttpMediator

Don't write `HttpResult<T>`'s `T` for 204s #160
  src/HttpMediator.Server/ResultWriter/HttpResponseResultWriter.cs
Labels: source, area-HttpMediator

Refactor mediator proxy tests
  test/MediatorEndpoints.IntegrationTests.TestWebApp/MediatorEndpoints.IntegrationTests.TestWebApp.csproj
  test/MediatorEndpoints.IntegrationTests.TestWebApp/Requests/Count/CountRequest.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/Requests/Count/CountRequestHandler.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/Requests/Count/CountResponse.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/Requests/InvalidResult/InvalidResultRequest.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/Requests/InvalidResult/InvalidResultRequestHandler.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/Requests/InvalidResult/InvalidResultResponse.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/Requests/NoContent/NoContentRequest.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/Requests/NoContent/NoContentRequestHandler.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/Requests/NoContent/NoContentResponse.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/SimpleRequest.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/SimpleRequestHandler.cs
  test/MediatorEndpoints.IntegrationTests.TestWebApp/TestWebAppHost.cs
  test/MediatorEndpoints.IntegrationTests/MediatorProxySendTests.cs
Labels: tests, area-MediatorEndpoints

Remove CRLF eol
  .gitattributes
Labels: none

Add `v3.6.0` doc page
  docs/docs/changes/v3.6.0.md
Labels: docs
