Repository alexnoddings/Tyne, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, demo, source, tests, area-AspNetCore, area-Blazor, area-Core, area-EntityFramework, area-HttpMediator, area-MediatorEndpoints, area-Testing

.github/labeler.yml:

build:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'eng/**'
      - 'global.json'
      - 'Tyne.sln'
    - all-globs-to-all-files: '!eng/Version.props'

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

demo:
- changed-files:
  - any-glob-to-any-file:
    - example/**

source:
- changed-files:
  - any-glob-to-any-file:
    - src/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

'area-AspNetCore':
- changed-files:
  - any-glob-to-any-file:
    - src/AspNetCore/**
    - test/AspNetCore/**

'area-Blazor':
- changed-files:
  - any-glob-to-any-file:
    - src/Blazor/**
    - test/Blazor/**

'area-Core':
- changed-files:
  - any-glob-to-any-file:
    - src/Core/**
    - test/Core/**

'area-EntityFramework':
- changed-files:
  - any-glob-to-any-file:
    - src/EntityFramework*/**
    - test/EntityFramework*/**

'area-HttpMediator':
- changed-files:
  - any-glob-to-any-file:
    - src/HttpMediator*/**
    - test/HttpMediator*/**

'area-MediatorEndpoints':
- changed-files:
  - any-glob-to-any-file:
    - src/MediatorEndpoints*/**
    - test/MediatorEndpoints*/**

'area-Testing':
- changed-files:
  - any-glob-to-any-file:
    - src/Testing*/**
    - test/Testing*/**

Multi-target .NET 7/8
  .github/workflows/build-and-test-main.yml
  .github/workflows/build-and-test-pr.yml
  .github/workflows/publish-all.yml
  .github/workflows/publish-docs.yml
  eng/Build.props
  eng/Build.targets
  example/Client/Example.Client.csproj
  example/Client/_Imports.razor
  example/Host.Server/Example.Host.Server.csproj
  example/Host.Wasm/Example.Host.Wasm.csproj
  global.json
  src/AspNetCore/AspNetCore.csproj
  src/Blazor/Blazor.csproj
  src/Core/Core.csproj
  src/EntityFramework.ChangeAuditing/EntityFramework.ChangeAuditing.csproj
  src/EntityFramework.ModificationTracking/EntityFramework.ModificationTracking.csproj
  src/EntityFramework.UserService.Core/EntityFramework.UserService.Core.csproj
  src/EntityFramework.UserService/EntityFramework.UserService.csproj
  src/EntityFramework/EntityFramework.csproj
  src/Testing/Testing.csproj
  test/Blazor.Tests/Blazor.Tests.csproj
  test/Core.Tests/Core.Tests.csproj
  test/Core.Tests/Utilities/MethodInfoExtensionsTests.cs
  test/EventIdTests/EventIdTests.csproj
  test/HttpMediator.Client.UnitTests/Middleware/Implementations/FluentValidationMiddlewareTests.cs
  test/HttpMediator.Client.UnitTests/Middleware/Implementations/HttpSenderMiddlewareTests.cs
  test/TestUtilities/TestUtilities.csproj
Labels: demo, source, tests, area-AspNetCore, area-Blazor, area-Core, area-EntityFramework, area-HttpMediator, area-Testing

Remove obsolete serialization APIs #118
  src/Blazor/Key/KeyEmptyException.cs
  src/Core/Option/BadOptionException.cs
  src/Core/Option/UnwrapOptionException.cs
  src/Core/Result/BadResultException.cs
  src/Core/Result/UnwrapResultErrorException.cs
  src/Core/Result/UnwrapResultValueException.cs
Labels: source, area-Blazor, area-Core

Use `in` instead of `ref` for `MemoryMarshal.TryWrite` on >.NET8
  src/Blazor/Persistence/UrlUtilities.cs
Labels: source, area-Blazor

Better TFM handling
  docs/.docs.csproj
  eng/Build.props
  eng/Packages.props
  eng/Tests.props
  example/Client/Example.Client.csproj
  example/Host.Server/Example.Host.Server.csproj
  example/Host.Wasm/Example.Host.Wasm.csproj
  example/SourceRef.SourceGenerators/SourceRef.SourceGenerators.csproj
Labels: docs, demo

Extract common test package refs
  eng/Tests.props
  test/AspNetCore.IntegrationTests.TestWebApp/AspNetCore.IntegrationTests.TestWebApp.csproj
  test/AspNetCore.IntegrationTests/AspNetCore.IntegrationTests.csproj
  test/Blazor.Tests/Blazor.Tests.csproj
  test/Core.Tests/Core.Tests.csproj
  test/EventIdTests/EventIdTests.csproj
  test/HttpMediator.Client.UnitTests/HttpMediator.Client.UnitTests.csproj
  test/HttpMediator.Core.UnitTests/HttpMediator.Core.UnitTests.csproj
  test/HttpMediator.IntegrationTests/HttpMediator.IntegrationTests.csproj
  test/HttpMediator.Server.UnitTests/HttpMediator.Server.UnitTests.csproj
  test/MediatorEndpoints.IntegrationTests.TestWebApp/MediatorEndpoints.IntegrationTests.TestWebApp.csproj
  test/MediatorEndpoints.IntegrationTests/MediatorEndpoints.IntegrationTests.csproj
  test/TestUtilities/TestUtilities.csproj
Labels: tests, area-HttpMediator, area-MediatorEndpoints

Prefer 'static readonly' fields over new-ed array arguments
  example/SourceRef.SourceGenerators/Components/ComponentSourceFormatter.cs
  example/SourceRef.SourceGenerators/Types/TypeSourceFormatter.cs
Labels: demo

Use new CancelAsync for CancellationTokenSources in >.NET8
  src/Blazor/Components/Forms/TyneFormBase.cs
Labels: source, area-Blazor

Fix artifacts building in `eng/`
  eng/Build.props
Labels: none

Optimisations
  src/Blazor/Persistence/UrlQueryStringFormatter.cs
  src/HttpMediator.Core/HttpMediatorOptionsBase.cs
  test/HttpMediator.TestUtilities/AssertHttpResult.cs
  test/TestUtilities/AssertError.cs
  test/TestUtilities/AssertResult.cs
Labels: source, tests, area-Blazor, area-HttpMediator

Use new collection initialisers
  example/Client/Features/Systems/Filtering/SelectUpdateValues/OrbitalTypeSelectValue.cs
  example/SourceRef.SourceGenerators/Types/TypeSourceInfoSyntaxReceiver.cs
  src/AspNetCore/Routing/RouteAuthorisationOptions.cs
  src/Blazor/Components/Environment/Environment.cs
  src/Blazor/Components/Filtering/Context/FilterContextBatchUpdateQueue.cs
  src/Blazor/Components/Filtering/Context/TyneFilterContext.cs
  src/Blazor/Components/Filtering/Controllers/Select/Multi/TyneMultiSelectFilterControllerBase.cs
  src/Blazor/Components/Filtering/Values/Select/TyneFilterSelectValue.cs
  src/Blazor/Components/Forms/TyneFormBase.cs
  src/Blazor/Components/Forms/Validation/TyneFormRootFluentValidator.cs
  src/Core/Searching/SearchResultsConverterFactory.cs
  src/EntityFramework.ChangeAuditing/Auditor/DbContextChangeAuditor`3.cs
  src/HttpMediator.Client/Middleware/Implementations/HttpSender/HttpSenderRequestMessageFactory.cs
  src/HttpMediator.Client/Registration/HttpMediatorMiddlewareBuilder.cs
  src/HttpMediator.Server/Registration/HttpMediatorMiddlewareBuilder.cs
  test/Blazor.Tests/Persistence/UrlUtilities_TestHelpers.cs
Labels: demo, source, tests, area-AspNetCore, area-Blazor, area-Core, area-EntityFramework, area-HttpMediator

Formatting
  test/HttpMediator.Client.UnitTests/ResultReader/HttpResponseResultReaderTest.cs
  test/HttpMediator.Client.UnitTests/Utilities/MockHttpRequestHandlerExtensions.cs
Labels: tests, area-HttpMediator

Use strings as Error codes #120
  src/Blazor/Components/Forms/Validation/TyneErrorDisplay.razor
  src/Core/Error/Error.Internal.cs
  src/Core/Error/Error.cs
  src/Core/Error/ErrorJsonConverter.cs
  src/Core/Preludes/ErrorPrelude.cs
  src/Core/Preludes/ResultPrelude.cs
  src/Core/Result/Result.cs
  src/Core/Result/Result`1.cs
  src/HttpMediator.Client/ErrorsCodes.cs
  src/HttpMediator.Client/Middleware/Implementations/ExceptionHandler/ExceptionHandlerMiddleware.cs
  src/HttpMediator.Client/ResultReader/HttpResponseResultReader.cs
  src/HttpMediator.Client/ResultReader/HttpResponseResultReaderLogging.cs
  src/HttpMediator.Core/HttpMediator.Core.csproj
  src/HttpMediator.Core/HttpResults/Codes/HttpResultCodesExtensions.BadRequest.cs
  src/HttpMediator.Core/HttpResults/Codes/HttpResultCodesExtensions.Forbidden.cs
  src/HttpMediator.Core/HttpResults/Codes/HttpResultCodesExtensions.InternalServerError.cs
  src/HttpMediator.Core/HttpResults/Codes/HttpResultCodesExtensions.NotFound.cs
  src/HttpMediator.Core/HttpResults/Codes/HttpResultCodesExtensions.Unauthorized.cs
  src/HttpMediator.Core/HttpResults/HttpResult.cs
  src/HttpMediator.Core/ProblemDetails.cs
  src/HttpMediator.Server/ErrorsCodes.cs
  src/HttpMediator.Server/Middleware/Implementations/ExceptionHandler/ExceptionHandlerMiddleware.cs
  src/HttpMediator.Server/ResultWriter/HttpResponseResultWriter.cs
  src/HttpMediator.Server/ResultWriter/IHttpResponseResultWriter.cs
  test/Blazor.Tests/Persistence/UrlPersistenceService_BulkSetValuesTests.cs
  test/Blazor.Tests/Persistence/UrlPersistenceService_GetValueTests.cs
  test/Blazor.Tests/Persistence/UrlPersistenceService_SetValueTests.cs
  test/Core.Tests/Error/ErrorEqualityTests.cs
  test/Core.Tests/Error/ErrorJsonTests.cs
  test/Core.Tests/Error/ErrorOtherTests.cs
  test/Core.Tests/Result/ResultOtherTests.cs
  test/Core.Tests/TestError.cs
  test/HttpMediator.Client.UnitTests/ResultReader/HttpResponseResultReaderTest.cs
  test/HttpMediator.Core.UnitTests/HttpResult/HttpResultCodesTests.cs
  test/HttpMediator.Core.UnitTests/TestError.cs
  test/HttpMediator.TestUtilities/AssertHttpResult.cs
  test/TestUtilities/AssertResult.cs
Labels: source, tests, area-Blazor, area-Core, area-HttpMediator

Upgrade docfx version
  .config/dotnet-tools.json
Labels: none

Upgrade NoTargets SDK
  global.json
Labels: none

Multi-target docs
  docs/.docs.csproj
Labels: docs

Test only targetting .NET 8
  .github/workflows/build-and-test-pr.yml
  eng/Build.targets
  eng/Packages.props
  eng/Tests.props
Labels: none

Explicitly specify base classes in code-behind files
  src/Blazor/Components/Filtering/Controllers/Range/DateTime/TyneDateRangeFilterController.razor.cs
  src/Blazor/Components/Filtering/Controllers/Simple/TyneStringFilterController.razor.cs
  src/Blazor/Components/Table/Columns/TyneColumnPopoverHeaderBase.razor.cs
  src/Blazor/Components/Table/TyneTableBase.razor.cs
Labels: source, area-Blazor

Manually specify component base/constraints in Blazor library to fix .NET 8 docs build
  src/Blazor/Components/Filtering/Controllers/Range/DateTime/TyneDateRangeFilterController.razor.cs
  src/Blazor/Components/Filtering/Controllers/Simple/TyneStringFilterController.razor.cs
  src/Blazor/Components/Table/Columns/TyneColumnPopoverHeaderBase.razor.cs
  src/Blazor/Components/Table/TyneTableBase.razor.cs
Labels: source, area-Blazor

DocFX version upgrade
  .config/dotnet-tools.json
Labels: none

Multi-target .NET 7/8/9
  .github/workflows/build-and-test-main.yml
  .github/workflows/build-and-test-pr.yml
  .github/workflows/publish-all.yml
  .github/workflows/publish-docs.yml
  eng/Build.targets
  eng/Packages.props
  eng/Tests.props
  global.json
Labels: none

Optimise tests
  test/TestUtilities/AssertOption.cs
Labels: tests

Manually mark integration tests as unpackable to avoid packing warnings
  test/AspNetCore.IntegrationTests.TestWebApp/AspNetCore.IntegrationTests.TestWebApp.csproj
  test/AspNetCore.IntegrationTests/AspNetCore.IntegrationTests.csproj
  test/HttpMediator.IntegrationTests.TestWebApp/HttpMediator.IntegrationTests.TestWebApp.csproj
  test/HttpMediator.IntegrationTests/HttpMediator.IntegrationTests.csproj
  test/MediatorEndpoints.IntegrationTests.TestWebApp/MediatorEndpoints.IntegrationTests.TestWebApp.csproj
  test/MediatorEndpoints.IntegrationTests/MediatorEndpoints.IntegrationTests.csproj
Labels: tests, area-HttpMediator, area-MediatorEndpoints

Add not found endpoint tests
  test/AspNetCore.IntegrationTests.TestWebApp/TestWebAppHost.cs
  test/AspNetCore.IntegrationTests/Endpoints/NotFoundEndpointTests.cs
  test/AspNetCore.IntegrationTests/TestWebAppCollection.cs
  test/AspNetCore.IntegrationTests/TestWebAppFactory.cs
Labels: tests

Docs improvements
  docs/docs/changes/toc.yml
  docs/docs/changes/v3.3.0.md
  docs/docs/dev/releasing-a-version.md
Labels: docs

Add HTTP mediator changes to 3.3.0 docs
  docs/docs/changes/v3.3.0.md
Labels: docs

Tweak HTTP Mediator client docs
  docs/docs/packages/HttpMediator/HttpMediator.Client.md
Labels: docs

Tweak README badges
  README.md
Labels: none

v3.3.0
  docs/docs/changes/v3.3.0.md
  eng/Version.props
Labels: docs

Use pattern matching (IDE0078, #127)
  example/SourceRef.SourceGenerators/Types/TypeSourceFormatter.cs
Labels: demo

Use auto-properties with inlining hints #127
  src/Core/Option/Option`1.cs
  src/Core/Result/Result`1.cs
Labels: source, area-Core

Simplify return statement #127
  src/Core/Utilities/MethodInfoExtensions.cs
Labels: source, area-Core

Remove unnecessary using directive #127
  src/Core/Error/Error.cs
Labels: source, area-Core

Tweaks
  example/SourceRef.SourceGenerators/Components/ComponentSourceFormatter.cs
  example/SourceRef.SourceGenerators/Types/TypeSourceInfoGenerator.cs
  src/AspNetCore/Routing/EndpointRouteBuilderAuthoriseRoutesExtensions.cs
  src/Blazor/Components/Table/TyneTableBase.razor.cs
  src/Core/Searching/SearchResultsConverterFactory.cs
  src/Core/Unit.cs
  src/EntityFramework.ModificationTracking/DbContextModificationTracker.cs
  src/HttpMediator.Core/HttpResults/HttpResult.cs
  test/TestUtilities/AssertOption.cs
Labels: demo, source, tests, area-AspNetCore, area-Blazor, area-Core, area-EntityFramework, area-HttpMediator

Temporarily disable IDE0058 #125
  eng/Build.props
Labels: none

Always generate documentation file to properly report compiler diagnostics
  eng/Build.props
  eng/Tests.props
  example/Client/Example.Client.csproj
  example/Host.Server/Example.Host.Server.csproj
  example/Host.Wasm/Example.Host.Wasm.csproj
  example/SourceRef.SourceGenerators/SourceRef.SourceGenerators.csproj
Labels: demo

Fix formatting (IDE0011)
  src/Blazor/Components/Forms/Drawer/TyneFormDefaultComponent.cs
Labels: source, area-Blazor

Better switch exhaustion
  src/Blazor/Persistence/UrlQueryStringFormatter.cs
Labels: source, area-Blazor

Formatting
  src/Blazor/Components/Forms/TyneFormBase.cs
Labels: source, area-Blazor

Simplify collection initialisation
  example/Client/Infrastructure/CommonComponents/TyneBreadcrumbs.razor.cs
  src/AspNetCore/Routing/EndpointRouteBuilderAuthoriseRoutesExtensions.cs
  src/Blazor/Components/Table/TyneTableBase.razor.cs
Labels: demo, source, area-AspNetCore, area-Blazor

Formatting
  test/Blazor.Tests/Components/Localisation/JsUserTimeZoneServiceTests.cs
Labels: tests
