Repository alexnoddings/Tyne, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, demo, source, tests, area-AspNetCore, area-Blazor, area-Core, area-EntityFramework, area-HttpMediator, area-MediatorEndpoints, area-Testing

Use Mud default drawer elevation #159
  src/Blazor/Components/Forms/Drawer/TyneFormDrawerContent.razor.cs
Labels: source, area-Blazor

Loosen `HttpResult<T>``'s OK StatusCode range to `200 <= c <= 399` #165
  src/HttpMediator.Core/HttpResults/HttpResult.cs
  src/HttpMediator.Core/HttpResults/HttpResult`1.cs
  test/HttpMediator.Core.UnitTests/HttpResult/HttpResultCreationTests.cs
Labels: source, tests, area-HttpMediator

Start updating xUnit tests to use TheoryData<> member data #145
  test/HttpMediator.Core.UnitTests/HttpResult/HttpResultCreationTests.cs
Labels: tests, area-HttpMediator

Add extension to convert `Result<T>` to `HttpResult<T>` #161
  src/HttpMediator.Core/HttpResults/ResultToHttpResultExtensions.cs
  test/HttpMediator.Core.UnitTests/HttpResult/HttpResultCreationTests.cs
Labels: source, tests, area-HttpMediator

Update v3.6.0 change doc
  docs/docs/changes/v3.6.0.md
Labels: docs

Remove change header
  docs/docs/changes/v3.6.0.md
Labels: docs

Small tweaks
  test/Core.Tests/TestError.cs
  test/HttpMediator.Core.UnitTests/TestError.cs
Labels: tests, area-HttpMediator

Use C# 13 field-backed properties
  src/Blazor/Components/Filtering/Context/FilterControllerHandle`2.cs
  src/Blazor/Components/Filtering/Values/TyneFilterValueCore.cs
  src/Blazor/Key/TyneKey.cs
  src/Core/Option/Option`1.cs
  src/HttpMediator.Core/HttpMediatorOptionsBase.cs
Labels: source, area-Blazor, area-Core, area-HttpMediator

Fix missing nullability operator
  src/Blazor/Components/Filtering/Controllers/Select/Single/TyneSingleSelectFilterControllerBase.cs
Labels: source, area-Blazor

Align `TyneMultiSelectFilterControllerBase` with `IFilterSelectItem` by allowing null selection items
  src/Blazor/Components/Filtering/Controllers/Select/Multi/TyneMultiSelectFilterControllerBase.cs
Labels: source, area-Blazor

Fix docs, remove unused `Result<T>.Select` extension method
  src/Core/Result/ResultExtensions.cs
  src/HttpMediator.Core/HttpResults/HttpResultExtensions.cs
Labels: source, area-Core, area-HttpMediator

Package upgrades
  eng/Build.targets
  test/HttpMediator.Client.UnitTests/HttpMediator.Client.UnitTests.csproj
Labels: tests, area-HttpMediator

Add new result selection extensions with LINQ and async support
  src/Core/Result/ResultExtensions.cs
  test/Core.Tests/Result/ResultLinqAsyncExtensionTests.cs
  test/Core.Tests/Result/ResultLinqExtensionTests.cs
  test/Core.Tests/Result/ResultSelectExtensionTests.cs
  test/TestUtilities/AssertExt.cs
Labels: source, tests, area-Core

Ignore detached/unchanged EF change auditing events
  src/EntityFramework.ChangeAuditing/Auditor/DbContextChangeAuditor`3.cs
Labels: source, area-EntityFramework

v3.6.1 prep
  eng/Version.props
Labels: none

Formatting tweak
  src/Blazor/Components/Filtering/Controllers/Select/Multi/TyneMultiSelectFilterControllerBase.cs
Labels: source, area-Blazor

Update docs watches since bin/obj are under /artifacts, not /src
  docs/.docs.csproj
Labels: docs

Upgrade docfx
  .config/dotnet-tools.json
Labels: none

Upgrade dotnet sdk to 9.0.100
  global.json
Labels: none

Fixes for #169
  docs/docfx.json
  src/HttpMediator.Core/HttpMediatorOptionsBase.cs
Labels: docs, source, area-HttpMediator

Disable warning for #169
  src/HttpMediator.Core/HttpMediatorOptionsBase.cs
Labels: source, area-HttpMediator

.github/labeler.yml:

build:
- all:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'eng/**'
      - 'global.json'
      - 'Tyne.sln'
    - all-globs-to-all-files: '!eng/Version.props'

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

demo:
- changed-files:
  - any-glob-to-any-file:
    - example/**

source:
- changed-files:
  - any-glob-to-any-file:
    - src/**

tests:
- changed-files:
  - any-glob-to-any-file:
    - test/**

'area-AspNetCore':
- changed-files:
  - any-glob-to-any-file:
    - src/AspNetCore/**
    - test/AspNetCore/**

'area-Blazor':
- changed-files:
  - any-glob-to-any-file:
    - src/Blazor/**
    - test/Blazor/**

'area-Core':
- changed-files:
  - any-glob-to-any-file:
    - src/Core/**
    - test/Core/**

'area-EntityFramework':
- changed-files:
  - any-glob-to-any-file:
    - src/EntityFramework*/**
    - test/EntityFramework*/**

'area-HttpMediator':
- changed-files:
  - any-glob-to-any-file:
    - src/HttpMediator*/**
    - test/HttpMediator*/**

'area-MediatorEndpoints':
- changed-files:
  - any-glob-to-any-file:
    - src/MediatorEndpoints*/**
    - test/MediatorEndpoints*/**

'area-Testing':
- changed-files:
  - any-glob-to-any-file:
    - src/Testing*/**
    - test/Testing*/**
